{% extends 'base.html' %}


{% block content %}
    <h3 class="text-secondary text-uppercase mb-0">Get the trending news highlights from these countries.</h3>
    <hr class="star-dark mb-3">
     <h3> News from selected Countries</h3>
    <div class="d-flex flex-row">

     <div class="p-2"><a href="/country/us"> United States</a></div>
     <div class="p-2"><a href="/country/ae"> United Arab Emirates</a></div>
     <div class="p-2"><a href="/country/ar"> Argentina</a></div>
     <div class="p-2"><a href="/country#"> Austraria</a></div>
     <div class="p-2"><a href="/country#"> Canada</a></div>
     <div class="p-2"><a href="/country#"> China</a></div>
     <div class="p-2"><a href="/country#"> Germany</a></div>
     <div class="p-2"><a href="/country#"> Egypy</a></div>
     <div class="p-2"><a href="/country#"> France</a></div>
     <div class="p-2"><a href="/country#"> United Kingdom</a></div>
     <div class="p-2"><a href="/country#"> Greece</a></div>
     <div class="p-2"><a href="/country#"> Hong Khong</a></div>
     <div class="p-2"><a href="/country#"> Islael</a></div>
     <div class="p-2"><a href="/country#"> Nigeria</a></div>
     <div class="p-2"><a href="/country/za"> South Africa</a></div>
     <div class="p-2"><a href="/country#"> Saudi Arabia</a></div>
 
</div>
    {% endblock %}



    